@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#navbar {
    background-color: #f1f1f1;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-items {
    width: 25%;
    display: flex;
    justify-content: space-around;
}
.nav-list {
    text-decoration: none;
    color: #333;
}
#header {
    padding: 20px 5%;
}
.wraper {
    display: flex;
    justify-content: space-between;
}
img {
    width: 50%;
}
.welcome {
    width: 50%;
}
.welcome h2 {
    font-size: 3rem;
}
#keunggulan {
    display: flex;
    justify-content: center;
    background-color:rgb(216, 211, 211);
    padding: 20px;
}
.row {
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.icons {
    display: flex;
    justify-content: center;
}
.icon {
    width: 40px;
    background-color: lightblue;
    height: 40px;
    border-radius: 50%;
}
.card {
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    width: 27%;
    background-color: #fff;
    box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, .15);
}

.card h5 {
    font-size: 20px;
}
.lorem h4 {
    font-size: 30px;
}
#laptop {
    padding: 20px;
}
.spek {
    display: flex;
    justify-content: center;
}
.spek ul li {
    list-style: none;
    display: flex;
}
.spek ul li p {
    padding-left: 6px;
}
.lorem {
    display: inline;
    width: 50%;
}
.list {
    padding: 0 30px;
}
.list h4 {
    border-bottom: 1px solid blue;
}
.image {
    display: flex;
    align-items: center;
}
.image img {
    width: 100%;
}
@media screen and (max-width: 700px) {
    .nav-items {
        width: 60%;
    }
    .wraper {
        display: inline;
    }
    .img, .welcome {
        width: 100%;
    }
    img {
        width: 100%;
        height: auto;
    }
    .row {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
    .card {
        width: 87%;
        margin-bottom: 15px;
    }
    .lorem {
        display: inline;
    }
    .spek {
        display: inline;
    }
}