@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#navbar {
    background-color: #f50c0c;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
#header {
    padding: 20px 5%;
}
.wraper {
    display: flex;
    justify-content: space-between;
}
img {
    width: 50%;
}
.welcome {
    width: 50%;
}
.welcome p{
    font-size: 20px;
}
.welcome h2 {
    font-size: 3rem;
    color:rgb(103, 227, 236) ;
}
.welcome span {
    color: #333;
}
#keunggulan, #album {
    background-color:rgb(103, 227, 236);
    padding: 20px;
}
.container2 {
    display: flex;
    justify-content: center;
}
.judul2 {
    text-align: center;
    
}
.judul2 h3 {
    font-size: 30px;
    font-weight: bold;
}
.row {
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.icons {
    display: flex;
    justify-content: center;
}
.icon {
    width: 40px;
    background-color:rgb(103, 227, 236) ;
    height: 40px;
    border-radius: 50%;
}
.card {
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    width: 27%;
    background-color: #fff;
    box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, .15);
}

.card h5 {
    font-size: 20px;
}
.lorem h4 {
    font-size: 30px;
}
#laptop {
    padding: 20px;
}
.spek {
    display: flex;
    justify-content: center;
}
.spek ul li {
    list-style: none;
    display: flex;
}
.spek ul li p {
    padding-left: 6px;
}
.lorem {
    display: inline;
    width: 50%;
    padding: 0px 10px;
}
.list h4 {
    border-bottom: 1px solid blue;
    text-align: center;
}
.image {
    display: flex;
    align-items: center;
}
.image img {
    width: 100%;
}
.foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.bingkai {
    background-color: cornsilk;
    max-width: 22%;
    margin: 3px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(60, 174, 219);
}
@media screen and (max-width: 700px) {
    .nav-items {
        width: 60%;
    }
    .wraper {
        display: inline;
    }
    .img, .welcome {
        width: 100%;
    }
    img {
        width: 100%;
        height: auto;
    }
    .row {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
    .card {
        width: 87%;
        margin-bottom: 15px;
    }
    .lorem {
        display: inline;
    }
    .spek {
        display: inline;
    }
    .bingkai {
        max-width: 40%;
    }
}